.contact-list-main {
    background-color: #fff;
    border-radius: 8px;
    height: 73vh;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    .center {
        gap: 24px;
        padding: 24px;

        .contact {
            gap: 16px;

            .main-info {
                gap: 20px
            }

            .image {
                width: 2.25rem;

                .img {
                    width: 2.25rem;
                    
                }
            }

            .user-details {
                font-size: 14px;
                font-weight: 500;

                p {
                    &:first-of-type {
                        margin: 0
                    }

                    &:last-of-type {
                        color: #888
                    }
                }
            }
        }
    }
}

.contact-list-main {
    background-color: #fff;
    border-radius: 8px;
    height: 73vh;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    .center {
        gap: 24px;
        padding: 24px;

        .contact {
            gap: 16px;

            .main-info {
                gap: 20px
            }

            .image {
                width: 2.25rem;

                .img {
                    width: 100%
                }
            }

            .user-details {
                font-size: 14px;
                font-weight: 500;

                p {
                    &:first-of-type {
                        margin: 0
                    }

                    &:last-of-type {
                        color: #888
                    }
                }
            }
        }
    }
}