.quiz-result-main {
    padding: 30px 50px;

    .result-quest{
        margin-top: 50px;
    }

    .recorded-video {
        bottom: 0;
        margin-top: 40px;
        position: relative;
        right: 0;
        width: 40vw
    }

    @media (max-width:370px) {
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px
    }

    .upper-area {
        height: 80px;

        h2 {
            font-weight: 501;

            @media (max-width:670px) {
                font-size: 16px
            }

            @media (max-width:290px) {
                font-size: 12px
            }
        }

        .upper-area-left {
            gap: 10px;

            .left {
                color: #d5f9a3;
                font-size: 29px;

                @media(max-width:350px) {
                    font-size: 18px !important
                }
            }

            .right {
                p {
                    color: #5d5d5d;
                    font-size: 10px;
                    font-weight: 500;

                    @media(max-width:350px) {
                        font-size: 7px !important
                    }
                }

                h2 {
                    font-size: 18px;

                    @media(max-width:350px) {
                        font-size: 14px !important
                    }
                }
            }
        }

        .upper-area-right {
            .btn {
                background: #166534 !important;
                font-weight: 600 I !important;
                margin-top: 0 !important;

                @media(max-width:350px) {
                    font-size: 13px !important;
                    width: 100px !important
                }

                :hover {
                    color: #fff !important
                }
            }
        }
    }
}