.create-quiz-main {
    height: auto;
    padding: 2vw;
    width: auto;

    .ant-modal-content {
        height: 93vh
    }

    .floating-icon {
        z-index: 100;

        @media(max-width:534px) {
            bottom: 7% !important;
            height: 50px;
            right: 7% !important;
            width: 50px
        }
    }

    .quizez {
        .send-btn{
            width: 100%;
        }
        
        .box {
            position: relative;

            .center {
                padding: 20px 1.7vw;

                .question {
                    gap: 30px;
                    width: 100%;

                    @media(max-width:534px) {
                        flex-direction: column
                    }

                    .question-input {
                        margin-top: 0;

                        :hover {
                            background-color: transparent !important
                        }
                    }
                }
            }
        }
    }
}