.history-main {
    padding: 30px 50px;


    @media (max-width:370px) {
        padding: 30px 10px;
    }

    .upper-area {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-weight: 501;

            @media (max-width:670px) {
                font-size: 16px;
            }

            @media (max-width:290px) {
                font-size: 12px;
            }

        }

    }
}