.nav-header {
    height: 60px;
    padding: 10px 40px;

    a {
        align-items: center;
        color: #000;
        display: flex;
        justify-content: center;
        text-decoration: none;
        text-transform: none
    }

    @media (max-width:370px) {
        padding-bottom: 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0
    }

    .logo {
        font-size: 10.5px;
        gap: 10px;
        height: 100%;

        @media (max-width:670px) {
            justify-content: normal
        }

        h1 {
            font-weight: 501;

            @media (max-width:670px) {
                font-size: 16px
            }

            @media (max-width:290px) {
                font-size: 12px
            }
        }

        img {
            width: 24px
        }
    }

    .mid-section {
        width: 40%;

        @media(max-width:615px) {
            display: none
        }

        a {
            font-weight: 500;
            text-decoration: none;
            text-transform: none
        }
    }

    svg {
        color: #000;
        font-size: 25px !important;

        :hover {
            color: #000
        }
    }

    .notification {
        margin-bottom: 0;

        @media(max-width:615px) {
            display: none
        }
    }

    .cross-bar {
        display: none;

        @media(max-width:615px) {
            display: initial
        }
    }
}

.ant-drawer {
    display: none !important;

    @media(max-width:615px) {
        display: initial !important
    }
}

.ant-drawer-body {
    padding: 8px
}