.error-page {
  :root {
    --main-color: #eaeaea;
    --stroke-color: #000
  }

  h1 {
    color: var(--stroke-color);
    font-size: 10rem;
    line-height: 10rem;
    margin: 100px auto 0
  }

  h1,
  h2 {
    font-family: Encode Sans Semi Condensed, Verdana, sans-serif;
    font-weight: 200
  }

  h2 {
    font-size: 1.5rem;
    margin: 20px auto 30px
  }

  h1,
  h2 {
    transition: opacity .5s linear, margin-top .5s linear
  }

  .gears {
    height: 0;
    width: auto
  }

  .gear,
  .gears {
    margin: 0 auto;
    position: relative
  }

  .gear {
    background: var(--stroke-color);
    height: 120px;
    width: 120px;
    z-index: 0
  }

  .gear:before {
    bottom: 5px;
    left: 5px;
    right: 5px;
    top: 5px;
    z-index: 2
  }

  .gear:after,
  .gear:before {
    background: var(--main-color);
    border-radius: 50%;
    content: '';
    position: absolute
  }

  .gear:after {
    border: 5px solid var(--stroke-color);
    box-sizing: border-box;
    height: 70px;
    left: 25px;
    top: 25px;
    width: 70px;
    z-index: 3
  }

  .gear.one {
    left: -130px
  }

  .gear.two {
    top: -75px
  }

  .gear.three {
    left: 130px;
    top: -235px
  }

  .gear .bar {
    background: var(--stroke-color);
    border-radius: 5px;
    height: 30px;
    left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 150px;
    z-index: 0
  }

  .gear .bar:before {
    background: var(--main-color);
    border-radius: 2px;
    bottom: 5px;
    content: '';
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1
  }

  .gear .bar:nth-child(2) {
    transform: rotate(60deg)
  }

  .gear .bar:nth-child(3) {
    transform: rotate(120deg)
  }

  @keyframes clockwise {
    0% {
      transform: rotate(0deg)
    }

    to {
      transform: rotate(1turn)
    }
  }

  @keyframes anticlockwise {
    0% {
      transform: rotate(1turn)
    }

    to {
      transform: rotate(0deg)
    }
  }

  @keyframes clockwiseError {
    0% {
      transform: rotate(0deg)
    }

    20% {
      transform: rotate(30deg)
    }

    40% {
      transform: rotate(25deg)
    }

    60% {
      transform: rotate(30deg)
    }

    to {
      transform: rotate(0deg)
    }
  }

  @keyframes anticlockwiseErrorStop {
    0% {
      transform: rotate(0deg)
    }

    20% {
      transform: rotate(-30deg)
    }

    60% {
      transform: rotate(-30deg)
    }

    to {
      transform: rotate(0deg)
    }
  }

  @keyframes anticlockwiseError {
    0% {
      transform: rotate(0deg)
    }

    20% {
      transform: rotate(-30deg)
    }

    40% {
      transform: rotate(-25deg)
    }

    60% {
      transform: rotate(-30deg)
    }

    to {
      transform: rotate(0deg)
    }
  }

  .gear.one {
    animation: anticlockwiseErrorStop 2s linear infinite
  }

  .gear.two {
    animation: anticlockwiseError 2s linear infinite
  }

  .gear.three {
    animation: clockwiseError 2s linear infinite
  }

  .loading .gear.one,
  .loading .gear.three {
    animation: clockwise 3s linear infinite
  }

  .loading .gear.two {
    animation: anticlockwise 3s linear infinite
  }
}