.multiple-choice-main {
  width: 70%;

  @media(max-width:'650px') {
    width: 100%
  }

  .loader:after,
  .loader:before {
    animation: animloader 2s linear infinite;
    border: 2px solid #000;
    border-radius: 50%;
    box-sizing: border-box;
    content: '';
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
    width: 48px
  }

  .loader:after {
    animation-delay: 1s
  }

  @keyframes animloader {
    0% {
      opacity: 1;
      transform: scale(0)
    }

    to {
      opacity: 0;
      transform: scale(1)
    }
  }

  .question {
    h3 {
      margin-top: 15px
    }

    .options {
      align-items: center;
      gap: 21px 30px;
      justify-content: space-between;
      margin-top: 13px;
      width: 50%;

      @media(max-width:'650px') {
        display: flex;
        flex-direction: column;
        width: 100%
      }

      .option1 {
        border: 2px solid;
        border-radius: 10px;
        cursor: pointer;
        height: 50px;
        width: 264px;

        .icon {
          font-size: 22px;
          margin-right: 10px
        }

        @media(max-width:'650px') {
          width: 100%
        }
      }
    }
  }
}