.quiz-area-main {
    padding: 0 50px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // max-height: 100vh;


    .area {
        backdrop-filter: blur(3.5px);
        background-color: #ffffffdb;
        height: 100%;
        z-index: 999
    }

    .area,
    .quiz-progress-bar {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%
    }

    .quiz-progress-bar {
        background-color: #58a916;
        height: 2px;
        transition: width .5s ease
    }

    @media(max-width:514px) {
        padding-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0
    }

    .upper-area {
        height: 80px;

        .Timer {
            gap: 10px;

            .left {
                font-size: 29px;

                @media(max-width:350px) {
                    font-size: 18px !important
                }
            }

            .right {
                p {
                    color: #5d5d5d;
                    font-size: 10px;
                    font-weight: 500;

                    @media(max-width:350px) {
                        font-size: 7px !important
                    }
                }

                h2 {
                    font-size: 18px;

                    @media(max-width:350px) {
                        font-size: 14px !important
                    }
                }
            }
        }

        .ant-btn {
            color: #fff !important;

            :hover {
                color: #fff !important
            }
        }

        .button {
            gap: 30px;
            background-color: transparent;

            .btn {
                background: #166534 !important;
                font-weight: 600 I !important;
                margin-top: 0 !important;

                @media(max-width:350px) {
                    font-size: 13px !important;
                    width: 100px !important
                }

                :hover {
                    color: #fff !important
                }
            }
        }
    }

    .mid-area {
        // height: 100%;
        margin-top: 30px;
        min-height: 240px
    }

    .bottom-area {
        margin-top: 70px;
        padding: 20px 0;

        @media(max-width:468px) {
            margin-top: 30px
        }


        .nav-btn {
            z-index: 1;
        }

        .antd-btn {
            background-color: transparent;
            border: 2px solid #000;

            @media(max-width:468px) {
                font-size: 13px !important
            }

            @media(max-width:350px) {
                font-size: 10px !important
            }
        }
    }
}