.notifications-main {
    margin-top: 17px;
    padding: 0 40px;

    @media (max-width:760px) {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0
    }

    svg {
        cursor: pointer
    }

    .center {
        width: 760px;

        @media (max-width:760px) {
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            width: 100%
        }

        .heading {
            padding: 0 19px;

            @media(max-width:520px) {
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                padding-top: 0
            }

            h1 {
                font-size: 25px;
                font-weight: 600
            }

            .settings-icon {
                font-size: 20px
            }
        }

        .notifications {
            margin-top: 35px !important;

            .notification {
                border-bottom: .5px solid #e4e4e7;
                height: 80px;
                padding: 0 19px;

                @media(max-width:520px) {
                    padding-bottom: 0;
                    padding-left: 0;
                    padding-right: 0;
                    padding-top: 0
                }

                .left {
                    gap: 20px;

                    .image {
                        img {
                            width: 45px
                        }
                    }

                    .content {
                        .content-heading {
                            font-size: 15px;
                            gap: 10px;

                            .status {
                                gap: 5px
                            }
                        }

                        .details {
                            color: #928d8d;
                            font-size: 11px
                        }
                    }
                }
            }
        }
    }
}