@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}



.flex{
    display:flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
   justify-content: space-between;
}

.flex-column{
    flex-direction: column;
}


.justify-around{
    justify-content: space-around;
}


.text-center{
    text-align: center;
}

.cursor-pointer{
    cursor: pointer;
}

.text-underline{
    text-decoration: underline;
}

.text-white{
    color: white;
}

.text-black{
    color: black !important;
}

.border-rounded{
  border-radius:50%;
}

.grid{
    display: grid;
}

.two-rows-column{
    grid-template-columns: repeat(2, 264px);
    grid-template-rows: repeat(2, auto);
}



